


<div class="row">
	<div class="span6">
	<header>
	<h2>About Me</h2>
	</header>


	<p>MFA in Creative Writing from the Jack Kerouac School of Disembodied Poetics at Naropa University in Boulder, CO (spring 2012); BA in German/English from Mary Washington College (now University) in Fredericksburg, Virginia (spring 1982); German, French and English at the University of Vienna’s Institute for Translator and Interpreter Training (now Center for Translation Studies) (1984-1985); Seminar for Foreign Language Teachers at Waldorf Schools in Nuremberg, Germany (1994-1995); seminars with the Community of Translators in Vienna and the Vienna Poetry School in Vienna, Austria. In addition, training in the Art of Channeling with Rhiannon Augenthaler, channeler-healer, in Vienna, Austria (2008). Born and raised in the United States, after many years in the German-speaking world, I continue my meditative and artistic practices by involving myself with healing and trance, by examining language, foreign language, poetry and prose.</p>  

    <p class="muted credit">Photo: <i>In a Parisian Cafe</i><br>by Sophie Gertrude Strohmeier-Keel</p>
	</div>
	
	<div class="pull-right">
			<%= image_tag "hk-8.jpg" %>	
	</div>
</div>