<%= provide(:description, 'Learn about Hypnotherapy, trance, and channeling with Hillary Keel') %>  
<%= provide(:keywords, 'trance, channeling, hypnotherapy, hypnosis') %>
<div class="backdrop">
  <h2>Who will you be then?</h2>
</div>
<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span7">
        <h3><%= provide(:title, 'Healing through Hypnosis') %>Healing through Hypnosis</h3> 
        <p><strong><em>Find healing solutions to life’s puzzles.</em></strong></p> 
        <p>Do you have an annoying habit or a disturbing pattern in your behavior you would like to change? Maybe you need to manage pain, deal with illness or trauma. Are you looking to solve some of the puzzles in your life? Do you have eating problems? Would you like to quit smoking? These are among the issues hypnosis can address. Hypnosis may be a good option for you.</p>
        <h4>Trance and Channeling</h4>
        <p>Trance is a resource we all have. Trance enables us to access new or different perceptions of ourselves and the world, through which we may be guided to change our lives.</p> 

        <p>Trance is also an everyday state of mind. We fall into a trance, for instance, when reading a good book, listening to music, when being sold a new product, when falling in love, or when focusing on a project. Some people fall into an altered state more easily than others, but everyone does it—it’s part of being human</p>. 

        <p>Trance comes in many forms and can be accessed when our habitual patterns of thinking are interrupted—this may happen by way of a shock, an emotional experience, or by way of a psychedelic drug. This can also occur through meditative practices and breathing exercises.</p>

        <p><strong><em>Hypnosis is a way of accessing trance.</em></strong></p>
        <p>Hypnotherapy can create and utilize trance for healing. Through the hypnotic trance the therapist can guide the client into the unconscious. It is a path to freeing the client’s mind of old patterns and allowing the unconscious to come forward and find the tools, techniques and narratives for healing. The unconscious knows what needs to happen. The client does the work.</p>
        <p><strong><em>The hypnotist merely guides...</em></strong></p>
        <p>Through the hypnotic trance we enter the ‘resource state’. This is your own unconscious or super-conscious state, your very best self, which has nothing but pure wellbeing in mind. In a hypnosis session, you access your own ‘resource state,’ as well as learning how to practice this on your own.</p>
        <p><strong><em>offering spiritual counseling.</em></strong></p>
        <p>I also offer channeled sessions, where I access my own trance or ‘resource state’ and offer spiritual, intuitive counseling.  You can converse with me, and my super-conscious self while I am in this altered state.</p>
        <h4>Learn More</h4> 
        <p>If you are curious about my meditative-artistic practice involving hypnotherapy, trance, and channeling, <a href="mailto:hillary.keel@gmail.com"><strong>contact me, (hillary.keel@gmail.com)</strong></a> to schedule a complimentary consultation. I am based in Brooklyn, NY, but I can travel to different locations. I also offer sessions over skype.</p>

        <p>I come from a family with a history of iatrogenic illness, which means my close family members, relatives and ancestors have suffered great trauma, and even death, in part or wholly due to medical examinations and treatments.  The experience of medical misadventure on my own body, as well as on the bodies of my family members, has led me to search for other modes of healing.</p> 

        <p>I am a <strong>Certified Hypnotist</strong> (since 2015) with the International Association of Counselors and Therapists. In 2008 I trained in channeling with <a href="http://www.channeling-healing.com/home/">Rhiannon Augenthaler</a>. In addition, I have worked extensively with the channel <a href="http://universalcorewellness.com/loumartin/">Lou Martin</a>. In NYC, I work with the poet and hypnotist <a href="http://www.mindbodystudies.com">Kristin Prevallet</a>, who trained me as a hypnotist.</p>   
      </div>
      <div class=" span5">  
        <h3>My Clients Respond</h3>
        <blockquote><p>I believe our session affected me in a powerful way.  I feel like something has shifted for me - I feel better and have been able to make decisions with more clarity and effectiveness. When I got home [after the session], I was able to execute some things that I had been avoiding for a while. I have since made courageous choices that I may have otherwise let slip through my fingers. I’ve felt proud of myself and have received good feedback from for my [artistic] performances.</p> 
        K.C., New York</blockquote>

        <blockquote><p>I had a profound experience with Hillary. The session allowed me to return to my childhood, to visit the sad, upset little girl I was at the age of nine and to bring healing to her. I was also able to anchor this healing and bring it back into my present life. I felt changed and calmed, and feel now able to embrace my present self.</p>
        B.B., Brooklyn</blockquote>

        <blockquote><p>It was indeed a session with a great impact for me and a lot of what was discovered, including some of the techniques, I am using on a daily basis. After our session I felt immediately very positive and focused. There’s been a definite shift in my attitude. Many times in the morning riding on the train, I’m able to sit down and practice some techniques. I feel Hillary helped guide me properly to have a rewarding first session.</p>
        C.C., Vienna</blockquote>

        <blockquote><p>I needed to take a drug that had a side effect of stimulating my appetite. I had gained more weight than I wanted to. It was a tough problem and although it was recommended that I take another drug to counteract the side effect, I was reluctant to go that path. I prefer the mind-over-matter approach of Hillary’s hypnotherapy sessions and I believe I have had some tangible results.</p>
        L. G., New York</blockquote>

        <blockquote><p>I had never been hypnotized before working with Hillary, and was nervous and a little dubious about the process. Hillary put me at ease immediately. Her approach to hypnosis and trance is gentle, practical, and calming. She explains things clearly and provides support and affirmation every step of the way. I’ve now had several sessions with Hillary, and all of them have been incredibly rich. I leave feeling freer, lighter, and happier. Working with Hillary has helped to shift issues I’ve been struggling with for years. I am very grateful to have found her and her practice.</p>
        Kasey Jueds, winner of the 2012 Agnes Lynch Starrett Poetry Prize.</blockquote>
        <p class="center fig"><%= image_tag "hillary.jpg" %><br><span class="muted credit"><a href="mailto:hillary.keel@gmail.com">Hillary Keel</a>, IATC Certified Hypnotist</span</p>
        </div>     
    </div>
  </div>
</div>
