<header>
	<h2>Poetry and Prose</h2>
</header>
<div class="row">
	<div class="span12">
		<h3>Plane</h3>		
			<p class="poem">I: limbs, torso<br>
			&amp; neck; the über<br>
			embrace of stretch<br>
			&amp; hold. Chair sits<br>
			into leather &amp;<br>
			smooth creak.<br> 
			&nbsp;<br> 
			I: body &amp; me.<br> 
			Oil drops into<br>
			palm creases, the<br>
			map of selves, a<br>
			spill of reading<br>
			to grassy field, top<br>
			soil &amp; deep to velvet<br> 
			cushion.<br>
			&nbsp;<br> 
			I: strike spark<br>
			to wick &amp; table,<br> 
			the metaphor of<br>
			ancestors, their<br> 
			shimmering dishes,<br>
			some shells, a<br>
			birthplace crystal<br>
			&amp; beveled light.<br> 
			&nbsp;<br> 
			I: a blinding<br>
			undulates<br>
			till vertebrae<br>
			space breathes<br>
			day, opens<br>
			room to radiator<br>
			hiss &amp; tea kettle, to<br>
			green wool &amp; purple<br>
			felt, to a plain<br>
			humming.</p> 

		</div>
	</div>
</div>
<div class="row">
	<div class="span12">
		<h3>three trances</h3>		
			<div class="visual">
				<p>1.</p>
				<p class="spaces">layer 	layer</p>
  			<p class="indent spaces">layer	  layer 	layer	</p>
				<p class="spaces">layer	layer  layer</p>
				<p>layer leads to water then</p>
				<p>field without map&mdash;no need&mdash;</p>
				<p>and space before location</p>
				<p>unattached to episodes, oven</p>
				<p>and rug all a dream, you</p>
				<p>are fish or leaf, a rippled breeze&mdash;</p>
				<p>a pathed meadow hedged to delight&mdash;</p>
				<p>to key in for stretch and leap, under&ndash;</p>
				<p>water luminescence.</p>
				<p>&nbsp;</p> 
				<p>2.</p> 
				<p>a door opens to</p>
				<p>seeds of words</p>
				<p>on skin, the back</p>
				<p>arches to Vorfreude</p>
				<p>and earth vibe, its </p>
				<p>spine stretches, a</p> 
				<p>wooden flute or </p>
				<p>bag pipe tones</p> 
				<p>beckon as silver</p> 
				<p>beech stand &amp; wave,</p> 
				<p>playing,  the leaf </p>
				<p>flutter applause,</p> 
				<p>a humming</p>
				<p>path</p>
				<p>&nbsp;</p>
				<p>3.</p> 
				<p>sleep, the grey of rain,</p>
				<p>sleep, then coffee then grey</p> 
				<p>hum of rain, candles lit, sleep,</p> 
				<p>then coffee, I dive into grammar</p> 
				<p>sleep, sleep, grey rain murmurs,</p> 
				<p>image of park in provincial Austria,</p> 
				<p>a fountain beside imperial and royal</p> 
				<p>spa hotel, beyond dense forest, a park</p> 
				<p>bench, a slice of cake, whipped cream,</p> 
				<p>sleep, the fragment, the freedom there,</p> 
				<p>the space is a screen, the field in my is</p> 
				<p>mine in mind, the space I investigate</p> 
				<p>sleep, the time, I awake to grey, I swim</p>
				<p>in structures and the image flashes: a</p> 
				<p>park in Styria, then Wolfgang, a swim</p> 
				<p>through, grammar rushes over skin, sleep</p>
				<p>let it play, make a play, words become tactile,</p>
				<p>their shape and gender, sleep, I hear rain, grey,</p>
				<p>outside window, grey, I listen, sleep.</p> 
				<p>&nbsp;</p>
			</div>
		</div>
	</div>
	<div class="row">	
		<div class="span12">
			<div class="row">
				<div class="span6">	
				<h3>thanks</h3>
				<p class="poem">fog and my book, outside<br>
				morning frost on grass blades,<br>
				berries, brambles&mdash;the morning<br>
				walk of gaze, through window the<br>
				earth is redeveloped, a kind of plaster<br>
				doesn’t  prefer me; though pie and sex,<br> 
				slices of love laid open in my space and<br>
				eyes, a view I fill, a curved wall of beauty<br>
				with purple bag and fur, a style of diagonal<br>
				on brown soft, the vessel of concept, this<br>
				fierceness is anti-fragile and expansive,<br>
				lets in evening light.</p>

				<p class="muted credit">Photo: <i>lighthouse</i><br>by Hillary Keel</p>
				</div>
				<div class="span5 offset1 pull-right poem">
				<%= image_tag "lighthouse.jpg" %>
				</div>

			</div>
		</div>	
	
	   
	<div class="row span6">	<h3>lighthouse</h3></div>
		<div class="row">
			<div class="span12 visual indent">
		
			<p class="offset1">up</p>
			<p class="offset2">stepping</p>
			<p class="offset3">with feet</p>
			<p class="offset4">air in my lungs</p>
			<p class="offset5">with</p>
			<p class="offset6">as I step up</p>
			<p class="offset7">in surface</p>
			<p class="offset7">they note the change</p>
			<p class="offset6">my fingers slide over</p>
			<p class="offset5">in the bannister</p>
			<p class="offset4">some nails</p>
			<p class="offset3">of smoothed painted wood</p>
			<p class="offset2">on the banister</p>
			<p class="offset1">my hand rests</p>
			<p>they lead me</p>
			<p class="offset1">and up</p>
			<p class="offset2">pull me forward</p>
			<p class="offset3">my knees</p>
			<p class="offset4">my feet</p>
			<p class="offset5">another</p>
			<p class="offset6">after</p>
			<p class="offset6">one foot</p>
			<p class="offset5">up</p>
			<p class="offset4">step</p>
			<p class="offset4">I</p>
			<p class="offset3">here</p>
			<p class="offset2">to step off</p>
			<p class="offset1">but don't want</p>
			<p>leading to hallways</p>
			<p class="offset1">past green doors</p>
			<p class="offset2">I step up</p>
			<p class="offset3">want to look ahead</p>
			<p class="offset5">I don't even</p>
			<p class="offset4">sometimes further</p>
			<p class="offset4">far sometimes close
</p>
			<p class="offset3">I see a top</p>
			<p class="offset2">up</p>
			<p class="offset1">I step</p>
			<p>I step up</p>
			<p>from light coming in windows</p>
			<p class="offset1">dust sparkling</p>
			<p class="offset2">floating through this space</p>
			<p class="offset3">but enjoy the dust</p>
			<p class="offset4">no point in looking back</p>
			<p class="offset5">I see where I've been</p>
			<p class="offset4">I see down</p>
			<p class="offset3">and see light</p>
			<p class="offset2">I look up</p>
			<p class="offset2">at the window</p>
			<p class="offset1">up up up</p>
			<p>smoothed by others before me</p>
			<p>the flat smoothed boards</p>
			<p class="offset1">a curve-ward up</p>
			<p class="offset2">a spiral</p>
			<p class="offset3">in a circle</p>
			<p class="offset4">hand on banister</p>
			<p class="offset3">through oval windows&mdash;I step up
</p>
			<p class="offset2">light coming in</p>
			<p class="offset1">a tower with</p>
			<p>wooden creaky steps</p>
			<p>&nbsp;</p>
		</div>
	</div>	
    <div class="row span12">
    	<h3>The erste fois I war à Prague</h3>
    	<p class="poem">
    		November fog und Kälte;<br>
					I felt like<br>
					eine Prinzessin<br>
					in that old black Mantel<br>
					from the second-hand Geschäft.<br>
					C’était très joli in Prague,<br>
					in spite of the Wetter.<br>
					oder deswegen?<br>
					The dunkel brown Kaffee<br>
					full von coffee grounds.<br>
					In spite of the Kaffee<br>
					c’était très joli.<br>
					J’étais très jolie<br>
					in Prague that November<br>
					mit G.<br>
					with G.<br>
					avec lui.<br>
					Der Hotelangestellte<br>
					was drunk und zitterte<br>
					as G. bribed him<br>
					mit zweihundert Schilling<br>
					stuck in our passports<br>
					pour bekommen une chambre.<br>
					We wandered durch die Altstadt<br>
					to the Karlsbrücke<br>
					where I erzählte<br>
					some short stories.<br>
					G. m’a écouté<br>
					everything, alles.<br>
					In den Museen,<br> 
					dans les cafés.<br>
					At the restaurant<br>
					wo we avons rencontré<br>
					eine German femme<br>
					mit her mari.<br>
					Ihr mari<br>
					était from Prague<br>
					ils wohnten there zusammen.<br>
					Elle translated the menu.<br>
					She erzählte uns<br>
					some short stories.<br>
					Nous avons écouté<br>
					alles, everything, tout.<br>
					At the jüdische cemetery<br>
					je pischte in ein Eck<br>
					where niemand could see.<br>
					I couldn’t hold it in.<br>
					I couldn’t ertrag it any longer.<br>
					J’éspère no one was beleidigt.<br>
					Dans dem hotel room<br>
					nous drank eine Flasche<br> 
					russischer Sekt<br>
					bought from the zittrigen<br>
					Hotelangestellte.<br>
					Wie er schaute<br>
					how he looked<br>
					so verwirrt, dumbfounded<br>
					überfordert, überwältigt<br>
					burned out and broken.<br>
					His shoe buckles waren offen<br>
					und hin.<br>
					G. und I<br>
					nous avons bu den Sekt<br>
					till we were as drunk as<br>
					der Hotelangestellte.<br>
					Wir lachten und screwed<br>
					vögelten and laughed.<br>
					Nous avon ri<br>
					on and on<br>
					then took a bath<br>
					und pischten in the bathtub<br>
					‘cause we were too faul<br>
					to go to the hall<br>
					das Klo am Gang.<br>
					Besides c’était<br>
					très très interessant<br>
					und lustig<br>
					in the bathtub.<br>
					In dem modernen department store<br>
					nous avons acheté<br>
					beaucoup de choses.<br>
					Die Winterreise by Schubert<br>
					hauptsächlich cassettes<br> 
					and records<br>
					et puis nous sommes revenus<br>
					in das Hotel<br>
					and told each other<br>
					short stories.</p>
				<p class="poem muted credit">Poem published by Peter Waugh in <i>Subdream</i>, 1998.</p>
			</div> 
		<div class="row">	
				<h3 class="center">J’essaie</h3>
			<div class="span6 prose">
<p>I step, I step, and open the door, and stop and step, then hold open with my foot. Check again. Do I have my keys? I dig my hand into my pocket, feel for keys, clench and retrieve. Got my keys, hold out again, then let the door close, pull shut, then slip the key into the lock and turn once more past the click as a kind of precaution. Sound of my steps as I walk to the staircase, I pick up speed and race down steps. Why this urge to race, to run to skip to waterfall my way down? Do I do this every time? When arriving at the next landing, I walk, I slow down, I take time, but then tap-tap-tap-tap-tap-tap-tap down as if the sight of these stairs invites me to gallop.</p>

<p>Once after closing up my flat, I heard a call, a catty vibration, a vibrato resonating through the stairwell, getting closer as I pattered down. Then there it was from behind an apartment door, a meowing in passionate despair. What to do? I paused, it was right there behind the door next to the stairwell. No person in sight. I continued down and the meowing dissipated. And another apartment, where is it?&mdash;maybe third floor&mdash;always buzzes&mdash;a doorbell constantly buzzing, an endless eerie hum as if someone were dead in there or someone on the street was trying to get in, but then no one’s ever outside pushing the button by the time I get down.</p> 

<p>Another day while walking upstairs&mdash;I take my time walking up the five flights (a ‘walk-up’ as they call it here)&mdash;it was raining, there was a heavy shower and people had been running down Avenue A with umbrellas or just getting wet, and walking up the stairs on the second floor, a pair of patent leather loafers lay thrown off the feet and left on the doormat, dropped off in a hurry to get into house shoes, dry ones no doubt&mdash;someone was in a hurry to cook dinner or watch TV. Those shoes left there on the mat like that for a good 24 hours or so; I noted them while walking up and down the staircase a few times the next day. What happened to her in there?</p> 

<p>The day of the rain I walked down Avenue A under my umbrella, it was about a week ago, and behind me came a dad in the crowd of pedestrians&mdash;I felt him running behind me, could hear his footsteps, then his breathing and turned to see him running at a slow pace with his son, who was maybe 6 years old. The dad running along side while holding his son on his little two wheeler, he ran through the people like it was a sunny day, only it was raining but he didn’t care and people parted to let them pass and dad and son turned into the park and as I walked by I saw in the rain they had the whole basketball court to themselves&mdash;and the cement was all a shiny purple and yellow and green and wet and that little boy rode in diagonals across it&mdash;his dad had let go of the bike by the time I passed and ran along beside, no longer holding on except when they came to the edge and had to turn, then he guided him as the boy curved around, but that boy and his dad made the most elegant diagonals across that shining court under rain clouds, the elm and locust trees of September, everything glistening and smooth like they were skating on ice.</p>

<p>One sunny morning walking past the Korean market I saw this Asian woman (me being a white woman, a newcomer here)&mdash;a small woman in a tight mini skirt and shortly-cropped hair and she was wearing one black shoe, and one red shoe, the black one was a low boot, the red one was a slip-on pump, both similar sized heels and she was walking just fine in them as if they were meant to be worn together; and I thought, that was original, she neither limping, nor hobbling but crossing Avenue A through the morning traffic by the market, by the buckets of flowers and shelves of grapefruits, there where the beggars often stand and want things when I’m coming out of the market and once I gave the black toothless guy a peach and then next time I said I couldn’t give him anything and he said, that was fine, he’d just had a bagel and told me to have a fine day.</p> 

<p>There’s always people walking down Avenue A, man and man, woman and woman and all variations of this, or they’re sitting at an outdoor café eating burritos or eggs for breakfast, tofu dogs or drinking beer and talking about last night’s party or how they want to find more time to write or how they just can’t give up that apartment because the rent is so cheap. They should start a business&mdash;“20,000 dollars,” I heard someone say.</p> 

<p>My house is on 5th Street between Avenues A and B: I’m acquainting myself with it all, it’s a process I’ve been going through since last May when I spent my first week here: it was Memorial Day weekend (a holiday I’d completely forgotten about) and I just moseyed into a community garden where people were grilling meat and drinking beer and eating potato chips (as one does here). A guy in a hat said, “Come on in,” and I met a silver-haired man from Vienna, his name is Stefan, who said he’d been living here for the past 30 years. And there were other people drinking and playing their guitars and singing and carrying on; one blank-eyed war veteran in a military outfit told us he’d once been stationed in Germany and started singing German beer songs and he sang them well. I looked around at the shrubs and the picnic tables, the paths made of stones and old tiles someone put together and little beds of flowers set in this lot between two apartment houses and I thought, <em>Oh, so this is the East Village</em>.</p>
</div>
<div class="span6 prose">
<p>Most days I just walk through the park on Avenue A and go to the Tompkins Square Library and there are people lined up around the park, getting food from a church or food from a Good Samaritan truck or people clean the park carrying on intelligent conversations or there’s a whole slew of people who spend most of their time in the park and some look like they’ve got nowhere else to go and when the weather’s good, the park is the place to be, where people play the radio or the saxophone or chess or just hang out, speaking Spanish or English or whatnot. Depending on my direction&mdash;when I come from Avenue A I mostly cut through the park and follow the curved path around Elm trees and slices of lawn and railings, a line of benches where people are hanging out and sleeping or reading and the path makes a curve which I follow and get out of the park on Avenue B. Often people are playing basketball or street hockey or something in the courts there, but one morning a bunch of men was standing in a corner court in a straight line with their shirts off.  A coach called to them to do push-ups and they all jumped to the ground in a straight line and I just had to stop and watch them and their muscles. A group of young women came from the other direction down 9th Street, these were tough not-so-hip inner city girls, not NYU students but kids who grew up here, and they slowed and glanced over at those men, whose skin was shining and undulating in the morning sun, and those girls were maybe twenty-years old (me being their mother’s age), and I slowed down, and I said, “Aren’t those guys beautiful?” and the girls burst into laughter and said, “Yeah! Yeah! Yeah, they are!” and they kept on nodding and laughing and walking down 9th Street.</p> 

<p>I go to the library to use the Internet and do my work and there are all kinds of people in there, borrowing library laptops or sitting at computers, writing in Chinese, looking at maps of South America, flirting on Facebook, looking for apartments, composing letters or music, reading the New York Times or simply watching films. There are a bunch of tables and women at the desk (plus one little bearded man librarian, who looks like a hobbit), asking people to keep rubber bands on the books they borrow. On the library wall is a plaque: “This reading room is named for E.Y. ‘Yip’ Harburg who was from the Lower East Side and named this room as his study” and that gives me pleasure to connect with Yip in this way, and I think of <i>Over The Rainbow</i>, and <i>Brother Can you Spare a Dime</i> and how grateful I am to him&mdash;I like Yip, I like this room. It’s pretty quiet, except sometimes someone’s phone rings, or there’s the computer jingle every time someone switches on, or music quietly blares from someone’s headphones, and one librarian says over and over in a mechanical voice, “Hi, how can I help you?”</p>

<p>Once I just sat at the Life Café at the corner, a few houses down from the library and watched life stroll down the street: a grey-haired woman, walking tall and straight with her dog on a leash and smiling on a Saturday morning. I watched cars intersecting at the light, bicyclists, kids playing in the park, and listened to a woman at the next table talking about the history of her Jewish family, said her sister had been terrified as a child, while across the street another market on Avenue B, its buckets of flowers dyed turquoise, orange, green and pink sure looked pretty from my seat.</p>   

<p>One morning I had to get up early and run down the five flights of stairs in my building on 5th Street at 8:15. I had to venture out of the East Village, walked up 6th Street and over to Broadway to catch a subway going uptown: my first genuine peek hour ride with commuters. I wasn’t sure of the best way to get to 34th Street, after glancing at the map again and again in the subway, an Eastern European woman asked if I needed help and an Australian woman explained the details. I had to cross from 6th Avenue by Macy’s to 7th Avenue on foot. Above ground the buildings were suddenly much taller and loomed down greyly (reminding me of the Alps of Tirol). I approached Penn Station and a wave of people came up the escalators, inching out as one body onto the street to cross 34th. This crowd moved in a curve, a spill, an ovular mass. Some streamed off in other directions, but a huge flow came towards me. This mass had three or four leaders, heading off the curb and into the street, rows of others teemed behind, the leaders making their way, protruding out further, protecting the others behind. It was an amazing shape and I had to notice the movement, like a dance, breathing and rippling in constant motion. I too needed to cross but waited, singular, a dot in an irregular crowd walking toward the wave.</p>  

<p>The light changed and we all moved.</p> 

<p>I waded through the mass, they walked around me, I walked between them, the streams of people met and meshed and kept on flowing; endless numbers continued to come up the escalators. I found one empty escalator going down, and stepped aboard.  On my left, among the masses going up, I saw one Asian lady in a plain dark suit&mdash;she gazed at me, my shoes, we had eye contact. I smiled and a half-smile cracked her face. I wanted to say, <em>They’re Spanish, Spanish shoes</em>, but she was gone.</p>

<p class="poem muted credit">An earlier version of this published by Dr. Haimo L. Handl  in <i>Driesch</i>, 2012, issue 9.</p> 
	</div> 
</div>
<div class="row">
	<div class="span12">
		<h3>Besuch</h3>		
			<p class="poem" lang="de">Heute bin ich<br>
			zu mir gekommen.<br>
			musste<br>
			zu mir kommen<br>
			bin gerade da<br>
			bei mir<br>
			&nbsp;<br>
			besuche mich<br>
			mit Feuer<br>
			im Regen<br>
			mit Wolle<br>
			und Leder<br>
			mit Tulpen<br>
			im Glas<br>
			und Tee<br>
			in der Tasse<br>
			mit Polstern<br>
			und Zeitung<br>
			&nbsp;<br>
			bin heute<br>
			mit mir<br>
			spazieren gegangen<br>
			&nbsp;<br>
			wir bummelten<br>
			gemeinsam<br>
			durch die Altstadt<br>
			&nbsp;<br>
			ich sagte<br>
			zu mir,<br>
			‚Sieh das<br>
			bloß als einen Spaziergang<br>
			mit mir an<br>
			nicht mehr<br>
			nicht weniger’<br>
			&nbsp;<br>
			Wir sind kurz<br>
			in einen Museumsshop<br>
			gegangen<br>
			mussten<br>
			mit niemandem<br>
			reden<br>
			wir blätterten<br>
			in einem Katalog<br>
			über Eros<br>
			in der Kunst<br>
			&nbsp;<br>
			und dachten,<br>
			was da für geile Bilder<br>
			sind<br>
			&nbsp;<br>
			Dann liefen wir<br>
			zum Hotel Orient<br>
			und erkundigten uns<br>
			nach den Preisen<br>
			der Zimmer,<br>
			taten so<br>
			als wären wir<br>
			noch nie<br>
			da gewesen,<br>
			bewunderten<br>
			den alten Schnickschnack<br>
			im Hotel<br>
			und plauderten<br>
			mit dem Hotelangestellten<br>
			&nbsp;<br>
			Zimmer kosten<br>
			zwischen 56<br>
			und 85 Euro<br>
			für drei Stunden<br>
			&nbsp;<br>
			Hatten wir damals<br>
			wirklich so viel bezahlt?<br>
			Gut, wir teilten das<br>
			fair and square<br>
			mit einem Dritten<br>
			&nbsp;<br>
			Nachher im Kaffeehaus<br>
			wurden wir<br>
			auf einen guten Apfelkuchen<br>
			mit Streuseln eingeladen<br>
			&nbsp;<br>
			‚Früher hatten wir<br>
			so was Ähnliches gebacken<br>
			das war früher, woanders<br>
			&mdash;sag einmal, wo war das?&mdash;<br>
			egal, jetzt sind wir hier’<br>
			&nbsp;<br>
			Eine Dritte bezahlte<br>
			heute den Kuchen<br>
			da konnten wir froh sein<br>
			weil wir ohnehin<br>
			kein Bargeld dabei hatten<br>
			&nbsp;<br>
			Jetzt wieder bei mir<br>
			kommt ein helles Licht<br>
			durchs Fenster<br>
			&nbsp;<br>
			Feuer im Ofen<br>
			knistert und knurrt<br>
			&nbsp;<br>
			Danke schön, du<br>
			danke, du<br>
			danke</p>	
		</div> 
	</div>
	<div class="row">
		<div class="span12">
			<h3>Bewegung</h3>		
			<p class="poem" lang="de">Ich führe<br>			
			ein bewegtes<br>
			Leben<br>
			hier<br>
			und dort<br>
			hie<br>
			und da<br>
			immer wieder<br>
			läuft<br>
			mein Leben<br>
			in Bögen<br>
			über Erdteile<br>
			Stadteile<br>
			durch Wälder<br>
			über Gassen<br>
			durch Viertel<br>
			und Jahrzehnte<br>
			auf Bahnen<br>
			und Gleisen<br>
			auf Rädern<br>
			und Füssen<br>
			mit Freunden<br>
			und Feinden<br>
			ein Verschwinden<br>
			und wieder Erscheinen.<br>
			&nbsp;<br>
			Ich sterbe<br>
			und werde<br>
			wieder belebt<br>
			im Himmel<br>
			und auf der Erde<br>
			in der Luft<br>
			und im Wasser.<br>
			&nbsp;<br>
			Mein Leben<br>
			ist bogenförmig.<br>
			&nbsp;<br>
			Es gibt kein zurück.
			</p>
		</div>
	</div>
	<div class="row">
	<div class="span12">
		<h3>An die deutsche Sprache</h3>		
			<div class="visual" lang="de">
				<p>so klar, so bestimmt</p>
				<p class="indent">mit Anfang und Ende.</p>
				<p>bestimmt. so konkret, eine Sprache</p>
				<p class="indent">mit Anfang und Ende</p>
				<p>wie ich Anfang und Ende habe.</p>
				<p>&nbsp;</p>
				<p class="spaces">Du, ch ch ch ch Sprache</p>
				<p class="spaces">Du, st st st st</p>
				<p class="spaces">Du, sp sp sp</p>
				<p class="spaces">Du, rr r r r</p>
				<p>Du, <em>Sp-rr-a-ch-e</em></p>
				<p>&nbsp;</p>
				<p>Du, Mundart, Art des Mundes</p>
				<p>Art des Sprechens</p>
				<p>Du bist tüchtig</p>
				<p class="offset1">fleißig</p>
				<p>Du üüü, Du ööö, Du äää</p>
				<p>Du Wendung voller Fälle</p>
				<p>Du volle Sprache, dünne Sprache</p>
				<p>&nbsp;</p>
				<p>Du sitzt am Fensterbrett, du fliegst</p>
				<p>durch die Luft</p>
				<p>Du luftige Sprache, Du erdige Sprache</p>
				<p>Du gehst gern wandern, pflückst gern</p>
				<p>Wiesenblumen, singst gern,</p>
				<p>arbeitest gern am Acker</p>
				<p>Du bist gern Du! sehr gern!</p>
				<p>&nbsp;</p>
				<p>Du, Sprache voller Buchstaben,</p>
				<p>voller Konsonanten&mdash;</p>
				<p>auch wenn manche sie nicht gern aussprechen&mdash;</p>
				<p>ich spreche sie gern aus!</p>
				<p>&nbsp;</p>
				<p>Ich singe sie gern!</p>
				<p>Ich bestelle gern einen Kaffee in dieser,</p>
				<p>trinke gern einen englischen Tee in dieser.</p>
				<p>In Dir gehe ich gern wandern,</p>
				<p>backe gern in Dir,</p>
				<p>schwitze gern und ficke gern in Dir.</p>
				<p>&nbsp;</p>
				<p>Du, Du, <span class="spaces">Du xyz Sprache</span></p>
				<p>Du ypsilon Du</p>
				<p>Du x-mal Ysop</p>
				<p>Du zackige Sprache !</p>
				<p>Ich habe Dich gern.</p>
				<p>Ohne Dich wäre ich ganz was anderes,</p>
				<p>ganz woanders, wäre ich nicht ich.</p>
				<p>&nbsp;</p>
				<p>Ich liebe Dich.</p>
      	<br>
				<p class="poem muted credit">&copy;2014 Poems by Hillary Keel<br>"An die deutsche Sprache," "Bewegung," and "Besuch" originally published in <i>Beehive Magazine</i>, vol.6</p>       
			</div>
		</div>
	</div>
<div class="row">
	<h3 class="center">Online Publications</h3> 
	<div class="span12 prose">
<p>&ldquo;a maze,&rdquo; &ldquo;Chelsea Hostel Pantoum,&rdquo; &ldquo;From My Study in Vienna,&rdquo; &ldquo;Anyway,&rdquo; &ldquo;Bartlett Pears,&rdquo; &ldquo;Brainlingo,&rdquo; &ldquo;Callicoon Night,&rdquo; &ldquo;For Orhan Pamuk,&rdquo; &ldquo;Here,&rdquo; &ldquo;Home,&rdquo; &ldquo;Justine &amp; Me,&rdquo; &ldquo;Song by Tom Waits,&rdquo; &ldquo;Up to&rdquo; (in four parts), &ldquo;Whales&rdquo; in <a href="http://www.naropa.edu/academics/jks/publications/notenoughnight/fall-12/index.php"><i>not enough night</i></a>, issue Fall 2012</p>

<p>&ldquo;Up to&rdquo; (part one) in <a href="http://livemagnyc.com/index.htm"><i>Live Mag! NYC</i></a>, issue ten</p> 

<p>&ldquo;Marriage Location,&rdquo; &ldquo;Layers or Moving Time&rdquo; in<a href="http://www.dearsir.org/"><i> Dear Sir</i></a>, issues seven and ten</p>  

<p>&ldquo;Sunset Park&rdquo; in<a href="http://www.drieschverlag.org/index.php?option=com_content&task=view&id=323&Itemid=1"> <i>Driesch</i>,</a> issue eleven</p>

<p>&ldquo;About Wittgenstein,&rdquo; &ldquo;#43,&rdquo; &ldquo;Birth Day,&rdquo; &ldquo;Homes Until Now&rdquo; (2012) in<a href="http://www.gangway.net/43/gangway43.Keel.html"> <i>Gangway</i></a>, issue 43</p>
<p>&nbsp;</p>
		</div>
	</div>
</div>