#projects_controller {

$Pink: #CC52CC;
$lilac: #a849a3;

@mixin rounded-corners {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
}
#keyboard {
  font-family: Georgia, Times, serif;
  text-align: center;
  padding: 20px;
  width: 460px;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 400;
}
  .upper {width : 400px; padding-left: 30px; position : relative;}
  .lower {width : 460px; padding-top: 3px; position : relative;}
    li {
	display: inline-block;
	color: #000;
	font-weight: bold;
	padding: 12px 25px;
	font-size: 24px;
	border: 1px solid $Pink;
	background: #fb83fa; /* Old browsers */
	background: -moz-linear-gradient(top,  #fb83fa 0%, #f0cdf4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb83fa), color-stop(100%,#f0cdf4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fb83fa 0%,#f0cdf4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fb83fa 0%,#f0cdf4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fb83fa 0%,#f0cdf4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fb83fa 0%,#f0cdf4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb83fa', endColorstr='#f0cdf4',GradientType=0 ); /* IE6-9 */
	@include rounded-corners;
	-webkit-box-shadow: 0px 6px 0px $lilac, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 6px 0px $lilac, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 6px 0px $lilac, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);;
	-webkit-transform: rotateX(20deg);
	}

	/*if narrower than Xpx
	hide #projects_controller*/
	@media (max-width: 543px) {
	  #keyboard {
	    display: none;
	  }
  }
}
	 

