<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 			<%= link_to "Hillary Keel", root_path, id: "logo" %>
      <nav>  
      <div class="nav-collapse collapse">
	       	<ul class="nav pull-right">
						<li><a href="mailto:hillary.keel@gmail.com">Contact</a></li>
						<li><%= link_to "About HK", about_path %></li>
						<li><a href="http://writing.hillarykeel.com">Writing</a></li>
            <li><%= link_to "Hypnotherapy", hypnotherapy_path %></li>
						<li><%= link_to "Translation", languages_path %></li>					
	        </ul>        
	      </div>                
      </nav>
    </div>
   </div>
  </div>